.contact {
    border: 2px solid black;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.nameContact,
.numberContact {
    margin: 0;
}

.buttonContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
}