.form{
        border: 2px solid black;
        border-radius: 4px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: aliceblue;
        color: rgb(80, 80, 81);
        max-width: 280px;

}
.formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.formFild{
    color: rgb(80, 80, 81);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(104, 102, 102);
    border-radius: 4px;
    padding: 4px;
}
.error{
    color: red;
}